
# Then add normally
git add __pretrained_shhs_1chan_subseqlen10_nsubseq20_1blocks/
git add .gitignore
git commit -m "Add pretrained SHHS model weights and update gitignore"
git push*.mat
*.npy
*.sif
*.edf
out_fast/
out_thesis/
out_final/
prev_runs/
raw_data_30min/
edfFiles/
checkpoint/
__pycache__/
*.pyc
*.e[0-9]*
*.o[0-9]*
*.OU
*.shm
